<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hollykunge.security.admin.mapper.GateLogMapper">
  <resultMap id="BaseResultMap" type="com.github.hollykunge.security.admin.entity.GateLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="NUMERIC" property="id" />
    <result column="MENU" jdbcType="VARCHAR" property="menu" />
    <result column="OPT" jdbcType="VARCHAR" property="opt" />
    <result column="URI" jdbcType="VARCHAR" property="uri" />
    <result column="CRT_TIME" jdbcType="DATE" property="crtTime" />
    <result column="CRT_USER" jdbcType="VARCHAR" property="crtUser" />
    <result column="CRT_NAME" jdbcType="VARCHAR" property="crtName" />
    <result column="CRT_HOST" jdbcType="VARCHAR" property="crtHost" />
  </resultMap>
</mapper>