<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hollykunge.security.admin.mapper.GroupMapper">
  <resultMap id="BaseResultMap" type="com.github.hollykunge.security.admin.entity.Group">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="NUMERIC" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PARENT_ID" jdbcType="NUMERIC" property="parentId" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="TYPE" jdbcType="CHAR" property="type" />
    <result column="GROUP_TYPE" jdbcType="INTEGER" property="groupType" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CRT_TIME" jdbcType="DATE" property="crtTime" />
    <result column="CRT_USER" jdbcType="VARCHAR" property="crtUser" />
    <result column="CRT_NAME" jdbcType="VARCHAR" property="crtName" />
    <result column="CRT_HOST" jdbcType="VARCHAR" property="crtHost" />
    <result column="UPD_TIME" jdbcType="DATE" property="updTime" />
    <result column="UPD_USER" jdbcType="VARCHAR" property="updUser" />
    <result column="UPD_NAME" jdbcType="VARCHAR" property="updName" />
    <result column="UPD_HOST" jdbcType="VARCHAR" property="updHost" />
    <result column="ATTR1" jdbcType="VARCHAR" property="attr1" />
    <result column="ATTR2" jdbcType="VARCHAR" property="attr2" />
    <result column="ATTR3" jdbcType="VARCHAR" property="attr3" />
    <result column="ATTR4" jdbcType="VARCHAR" property="attr4" />
    <result column="ATTR5" jdbcType="VARCHAR" property="attr5" />
    <result column="ATTR6" jdbcType="VARCHAR" property="attr6" />
    <result column="ATTR7" jdbcType="VARCHAR" property="attr7" />
    <result column="ATTR8" jdbcType="VARCHAR" property="attr8" />
  </resultMap>
  <delete id="deleteGroupMembersById">
      delete from base_group_member where group_id = #{groupId}
  </delete>
  <delete id="deleteGroupLeadersById">
    delete from base_group_leader where group_id = #{groupId}
  </delete>
  <insert id="insertGroupMembersById">
    insert into base_group_member (
       group_id,user_id
    )
    values(
       #{groupId},#{userId}
    )
  </insert>
  <insert id="insertGroupLeadersById">
    insert into base_group_leader (
       group_id,user_id
    )
    values(
       #{groupId},#{userId}
    )
  </insert>
</mapper>