<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hollykunge.security.admin.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.github.hollykunge.security.admin.entity.Menu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="NUMERIC" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="PARENT_ID" jdbcType="INTEGER" property="parentId" />
    <result column="HREF" jdbcType="VARCHAR" property="href" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="TYPE" jdbcType="CHAR" property="type" />
    <result column="ORDER_NUM" jdbcType="DECIMAL" property="orderNum" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="ENABLED" jdbcType="CHAR" property="enabled" />
    <result column="CRT_TIME" jdbcType="DATE" property="crtTime" />
    <result column="CRT_USER" jdbcType="VARCHAR" property="crtUser" />
    <result column="CRT_NAME" jdbcType="VARCHAR" property="crtName" />
    <result column="CRT_HOST" jdbcType="VARCHAR" property="crtHost" />
    <result column="UPD_TIME" jdbcType="DATE" property="updTime" />
    <result column="UPD_USER" jdbcType="VARCHAR" property="updUser" />
    <result column="UPD_NAME" jdbcType="VARCHAR" property="updName" />
    <result column="UPD_HOST" jdbcType="VARCHAR" property="updHost" />
    <result column="ATTR1" jdbcType="VARCHAR" property="attr1" />
    <result column="ATTR2" jdbcType="VARCHAR" property="attr2" />
    <result column="ATTR3" jdbcType="VARCHAR" property="attr3" />
    <result column="ATTR4" jdbcType="VARCHAR" property="attr4" />
    <result column="ATTR5" jdbcType="VARCHAR" property="attr5" />
    <result column="ATTR6" jdbcType="VARCHAR" property="attr6" />
    <result column="ATTR7" jdbcType="VARCHAR" property="attr7" />
    <result column="ATTR8" jdbcType="VARCHAR" property="attr8" />
  </resultMap>
    <select id="selectMenuByAuthorityId" resultMap="BaseResultMap">
    select t.* from base_resource_authority ra
    inner join base_menu t
    on ra.resource_id = t.id
    and ra.authority_id = #{authorityId}
    and ra.authority_type = #{authorityType}
    and ra.resource_type = 'menu'
  </select>
    <select id="selectAuthorityMenuByUserId" resultMap="BaseResultMap">
     select distinct t.* from base_resource_authority ra
    inner join base_menu t
    on ra.resource_id = t.id
    and ra.authority_id in (
      select group_id from base_group_member where user_id = #{userId}
      union select group_id from base_group_leader where user_id = #{userId}
    )
    and ra.authority_type = 'group'
    and ra.resource_type = 'menu'
    order by t.id
  </select>
    <select id="selectAuthoritySystemByUserId" resultMap="BaseResultMap">
        select distinct t.* from base_resource_authority ra
        inner join base_menu t
        on ra.resource_id = t.id
        and ra.authority_id in (
        select group_id from base_group_member where user_id = #{userId}
        union select group_id from base_group_leader where user_id = #{userId}
        )
        and ra.authority_type = 'group'
        and ra.resource_type = 'menu'
        where t.parent_id = -1
    </select>
</mapper>