<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hollykunge.security.admin.mapper.OrgMapper">
  <resultMap id="BaseResultMap" type="com.github.hollykunge.security.admin.entity.Org">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="NUMERIC" property="id" />
    <result column="INNER_ID" jdbcType="VARCHAR" property="innerId" />
    <result column="FC_FLAG" jdbcType="VARCHAR" property="fcFlag" />
    <result column="XH" jdbcType="VARCHAR" property="xh" />
    <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="MD_CODE" jdbcType="VARCHAR" property="mdCode" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="PARENT_ID" jdbcType="DECIMAL" property="parentId" />
    <result column="ORG_TYPE" jdbcType="VARCHAR" property="orgType" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CRT_USER" jdbcType="VARCHAR" property="crtUser" />
    <result column="CRT_NAME" jdbcType="VARCHAR" property="crtName" />
    <result column="CRT_HOST" jdbcType="VARCHAR" property="crtHost" />
    <result column="CRT_TIME" jdbcType="DATE" property="crtTime" />
    <result column="UPD_USER" jdbcType="VARCHAR" property="updUser" />
    <result column="UPD_NAME" jdbcType="VARCHAR" property="updName" />
    <result column="UPD_HOST" jdbcType="VARCHAR" property="updHost" />
    <result column="UPD_TIME" jdbcType="DATE" property="updTime" />
    <result column="ATTR1" jdbcType="VARCHAR" property="attr1" />
    <result column="ATTR2" jdbcType="VARCHAR" property="attr2" />
    <result column="ATTR3" jdbcType="VARCHAR" property="attr3" />
  </resultMap>
  <delete id="deleteOrgMembersById">
    delete from base_org_member where org_id = #{orgId}
  </delete>
  <delete id="deleteOrgLeadersById">
    delete from base_org_leader where org_id = #{orgId}
  </delete>
  <insert id="insertOrgMembersById">
    insert into base_org_member (
    org_id,user_id
    )
    values(
    #{orgId},#{userId}
    )
  </insert>
  <insert id="insertOrgLeadersById">
    insert into base_org_leader (
    org_id,user_id
    )
    values(
    #{orgId},#{userId}
    )
  </insert>
</mapper>