<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.wxiaoqi.security.admin.mapper.OrgMapper" >
  <resultMap id="BaseResultMap" type="com.github.wxiaoqi.security.admin.entity.Org" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="org_name" property="orgname" jdbcType="VARCHAR" />
    <result column="org_code" property="orgcode" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentid" jdbcType="INTEGER" />
    <result column="org_type" property="orgtype" jdbcType="CHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="crt_user" property="crtUser" jdbcType="VARCHAR" />
    <result column="crt_name" property="crtName" jdbcType="VARCHAR" />
    <result column="crt_host" property="crtHost" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
    <result column="upd_user" property="updUser" jdbcType="VARCHAR" />
    <result column="upd_name" property="updName" jdbcType="VARCHAR" />
    <result column="upd_host" property="updHost" jdbcType="VARCHAR" />
    <result column="attr1" property="attr1" jdbcType="VARCHAR" />
    <result column="attr2" property="attr2" jdbcType="VARCHAR" />
    <result column="attr3" property="attr3" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteOrgMembersById">
    delete from base_org_member where org_id = #{orgId}
  </delete>
  <delete id="deleteOrgLeadersById">
    delete from base_org_leader where org_id = #{orgId}
  </delete>
  <insert id="insertOrgMembersById">
    insert into base_org_member (
    org_id,user_id
    )
    values(
    #{orgId},#{userId}
    )
  </insert>
  <insert id="insertOrgLeadersById">
    insert into base_org_leader (
    org_id,user_id
    )
    values(
    #{orgId},#{userId}
    )
  </insert>
</mapper>