<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hollykunge.security.auth.mapper.ClientServiceMapper" >
  <resultMap id="BaseResultMap" type="com.github.hollykunge.security.auth.entity.ClientService" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="NUMERIC" />
    <result column="SERVICE_ID" property="serviceId" jdbcType="VARCHAR" />
    <result column="CLIENT_ID" property="clientId" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="DATE" />
    <result column="CRT_USER" property="crtUser" jdbcType="VARCHAR" />
    <result column="CRT_NAME" property="crtName" jdbcType="VARCHAR" />
    <result column="CRT_HOST" property="crtHost" jdbcType="VARCHAR" />
    <result column="UPD_TIME" property="updTime" jdbcType="DATE" />
    <result column="UPD_USER" property="updUser" jdbcType="VARCHAR" />
    <result column="UPD_NAME" property="updName" jdbcType="VARCHAR" />
    <result column="UPD_HOST" property="updHost" jdbcType="VARCHAR" />
    <result column="ATTR1" property="attr1" jdbcType="VARCHAR" />
    <result column="ATTR2" property="attr2" jdbcType="VARCHAR" />
    <result column="ATTR3" property="attr3" jdbcType="VARCHAR" />
    <result column="ATTR4" property="attr4" jdbcType="VARCHAR" />
    <result column="ATTR5" property="attr5" jdbcType="VARCHAR" />
    <result column="ATTR6" property="attr6" jdbcType="VARCHAR" />
    <result column="ATTR7" property="attr7" jdbcType="VARCHAR" />
    <result column="ATTR8" property="attr8" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByServiceId">
      delete from auth_client_service where client_id = #{id}
  </delete>

</mapper>