<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.service.service.mapper.CommentEntityMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.service.service.entity.CommentEntity" id="commentMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="commentType" column="comment_type" jdbcType="INTEGER"/>
        <result property="posterId" column="poster_id" jdbcType="INTEGER"/>
        <result property="issueId" column="issue_id" jdbcType="INTEGER"/>
        <result property="commitId" column="commit_id" jdbcType="INTEGER"/>
        <result property="line" column="line" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="createdUnix" column="created_unix" jdbcType="INTEGER"/>
        <result property="updatedUnix" column="updated_unix" jdbcType="INTEGER"/>
        <result property="commitSha" column="commit_sha" jdbcType="VARCHAR"/>
        <result property="crtName" column="crt_name" jdbcType="VARCHAR"/>
        <result property="crtUser" column="crt_user" jdbcType="VARCHAR"/>
        <result property="crtHost" column="crt_host" jdbcType="VARCHAR"/>
        <result property="crtTime" column="crt_time" jdbcType="DATE"/>
        <result property="updTime" column="upd_time" jdbcType="DATE"/>
        <result property="updUser" column="upd_user" jdbcType="VARCHAR"/>
        <result property="updName" column="upd_name" jdbcType="VARCHAR"/>
        <result property="updHost" column="upd_host" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>