<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.service.service.mapper.MapUserTaskMapper">
    <resultMap id="BaseResultMap" type="com.service.service.entity.MapUserTask">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="task_id" property="taskId" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="task_name" property="taskName" jdbcType="VARCHAR"/>
        <result column="permission" property="permission" jdbcType="INTEGER"/>
    </resultMap>
    <select id="getUserIds">
    select sum(task_name) from map_user_task group by user_id
  </select>
    <insert id="insertTasksByUserId">
      insert into map_user_task (
      user_id,task_id
      )
      values(
      #{userId},#{taskId}
      )
  </insert>
    <delete id="deleteTasksByUserId">
    delete from map_user_task where user_id = #{userId}
  </delete>
</mapper>