<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.service.service.mapper.MilestoneEntityMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.service.service.entity.MilestoneEntity" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="taskId" column="task_id"/>
        <result property="name" column="name"/>
        <result property="content" column="content"/>
        <result property="isClosed" column="is_closed"/>
        <result property="numIssues" column="num_issues"/>
        <result property="numClosedIssues" column="num_closed_issues"/>
        <result property="completeness" column="completeness"/>
        <result property="deadlineUnix" column="deadline_unix"/>
        <result property="closedDateUnix" column="closed_date_unix"/>
        <result property="crtName" column="crt_name"/>
        <result property="crtUser" column="crt_user"/>
        <result property="crtHost" column="crt_host"/>
        <result property="crtTime" column="crt_time"/>
        <result property="updTime" column="upd_time"/>
        <result property="updUser" column="upd_user"/>
        <result property="updName" column="upd_name"/>
        <result property="updHost" column="upd_host"/>
    </resultMap>

</mapper>