<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.service.service.mapper.PullEntityMapper" >
  <resultMap id="BaseResultMap" type="com.service.service.entity.PullEntity" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="issue_id" property="issueId" jdbcType="BIGINT" />
    <result column="index" property="index" jdbcType="BIGINT" />
    <result column="head_repo_id" property="headRepoId" jdbcType="BIGINT" />
    <result column="base_repo_id" property="baseRepoId" jdbcType="BIGINT" />
    <result column="head_user_name" property="headUserName" jdbcType="VARCHAR" />
    <result column="head_branch" property="headBranch" jdbcType="VARCHAR" />
    <result column="base_branch" property="baseBranch" jdbcType="VARCHAR" />
    <result column="merge_base" property="mergeBase" jdbcType="VARCHAR" />
    <result column="has_merged" property="hasMerged" jdbcType="BIT" />
    <result column="merged_commit_id" property="mergedCommitId" jdbcType="VARCHAR" />
    <result column="merger_id" property="mergerId" jdbcType="BIGINT" />
    <result column="merged_unix" property="mergedUnix" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="context" property="context" jdbcType="VARCHAR" />
    <result column="task_id" property="taskId" jdbcType="INTEGER" />
  </resultMap>
</mapper>